* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.rocket {
  display: flex;
  gap: 20px;
}

.rocket-img {
  width: 20%;
}

.rocket-box {
  margin: 15px;
}

.rocket {
  padding: 15px;
}

.rocket-name {
  font-size: 25px;
  font-weight: 700;
}

.rocket-btn {
  margin: 3% 0;
  border: none;
  background: blue;
  padding: 10px;
  border-radius: 4px;
  color: black;
  font-weight: 500;
}

.rocket-note {
  line-height: 25px;
  font-size: 20px;
}
